<html>
    <head>
        <title>Asya's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Asya's Blog</a> </h1>
        </div>

        <div>
            <p>published: 23.02.2019, 21:03</p>
            <h2><a href="">My first post.</a></h2>
            <p>Hi there!</p>
        </div>

        <div>
            <p>published: 23.02.2019, 21:05</p>
            <h2><a href="">My second post</a></h2>
            <p>It's my second post.</p>
        </div>
    </body>
</html>