h1 a {
    color: #DC8DEB;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    text-shadow: 3px 5px 6px #A5A9A9;
    font-size: 45px;
}

body {
    padding-left: 30px;
}

.page-header {
    background-color: #9CEB8D;
    font-family: 'Lobster', cursive;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 20px 20px 20px 40px;
    box-shadow: 6px 6px #EEBFE9,
            12px 12px #ED7AE0;
}

.page-header h1, .page-header h1 a, .page-header h1 a: visited, .page-header h1 a: active {
    color: #ffffff;
    font-family: 'Lobster';
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 300px;
    font-family: 'Lobster';
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
    font-family: 'Lobster';
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #1F6735;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    background-color: #F4DFF1;
    padding: 20px 20px 20px 40px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
            -23px 0 20px -23px rgba(0, 0, 0, .6),
            23px 0 20px -23px rgba(0, 0, 0, .6),
            inset 0 0 40px rgba(0, 0, 0, .1);
    border-top: 3px dashed #511241;
    border-bottom: 3px dashed #511241;
}

.post h1 a, .post h1 a:visited {
    color: #7C165C;
}

.comment {
    margin: 20px 0px 20px 20px;
}